// Import fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Global variables
$brown: #B9603A;
$blue: #5D98AE;
$purple: #776ea7;
$black: #000000;
$white: #ffffff;
$off-white: #f8f8f8;
$grey: #e8e8e8;

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

//Classes to vertically center things
.vertical-center {
  display: flex;
  justify-content: center;
}

.vertical-center--child {
  align-self: center;
}


.global-nav {
	background-color: $white;
	height: 65px;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 20px;
	z-index: 99999;
	box-sizing: border-box;
	a {
		text-decoration: none;
	}
	h3 {
		color: $black;
		font-weight: 700;
		font-size: 1em;
		margin-bottom: 0px;
		letter-spacing: 0.1px;
	}
	.left-nav {
		display: inline-block;
		position: relative;
		top: 5px;
	}
	.right-nav {
		float: right;
		height: 100%;
		img {
			width: 30px;
		}
	}
	@media (max-width: 750px) {
		border-bottom: 1px solid $grey;
	}
}

.page-wrapper {
	padding: 15% 10%;
	min-height: 100%;
	margin-bottom: 60px;
	font-family:'Roboto', sans-serif;
	background-color: $off-white;
	box-sizing: border-box;
	@media (max-width: 750px) {
		padding: 0%;
	}
	&:after {
		content: "";
		display: block;
	}
}

.mobile-justify {
	@media (max-width: 750px) {
		position: relative;
		top: 65px;
	}
}

.footer {
	border-top: 1px solid $grey;
	color: #898989;
	padding: 10px 20px;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	.copyright {
		text-align: left;
		width: 100%;
	}
}